<div class="interactive-wrapper">
  <div class="blm-voices__header">
    <div class="blm-voices__image blm-voices__imageone"></div>
    <h2 class="blm-voices__subheadline">
      50 voices on being black and British
    </h2>
    <div class="blm-voices__image blm-voices__imagetwo"></div>
    <div class="blm-voices__image blm-voices__imagethree"></div>
    <h1 class="blm-voices__headline">
      Young, British & black
    </h1>
    <p class="blm-voices__standfirst">
      Standfirst is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum. Standfirst is simply dummy text of the printing and
      typesetting industry.
    </p>
    <p class="blm-voices__byline">
      By Firstname Surname, Firstname Surname, Firstname Surname, Firstname
      Surname
    </p>
  </div>
</div>
