<div class="interactive-wrapper">
  <div class="blm-voices__header">
    <div>
      <div class="blm-voices__images">
        <div class="blm-voices__images__left">
          <h2 class="blm-voices__subheadline for-mobile">
            50 voices on being black and British
          </h2>
          <h2 class="blm-voices__subheadline for-desktop">
            50 voices on being black and British
          </h2>
          <div class="blm-voices__image blm-voices__imageone"></div>
        </div>
        <div class="blm-voices__images__center">
          <div class="blm-voices__image blm-voices__imagetwo"></div>
        </div>
        <div class="blm-voices__images__right">
          <div class="blm-voices__image blm-voices__imagethree"></div>
          <p class="blm-voices__standfirst for-desktop">
            Standfirst is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum. Standfirst is simply dummy text of the
            printing and typesetting industry.
          </p>
          <p class="blm-voices__byline for-desktop">
            By Firstname Surname, Firstname Surname, Firstname Surname,
            Firstname Surname
          </p>
        </div>
      </div>
      <h1 class="blm-voices__headline for-mobile">
        Young, British & Black
      </h1>
      <h1 class="blm-voices__headline for-desktop">
        Young British & Black
      </h1>
    </div>

    <p class="blm-voices__standfirst for-mobile">
      Standfirst is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum. Standfirst is simply dummy text of the printing and
      typesetting industry.
    </p>
    <p class="blm-voices__byline for-mobile">
      By Firstname Surname, Firstname Surname, Firstname Surname, Firstname
      Surname
    </p>
  </div>
  <div class="blm-article-flex quotes">
    <div class="blm-article quotes">
      {{#Sheet1}}
      <div class="quote-card for-desktop">
        <h1 data-click="1">
          {{Quote}}<span class="hover-cta">Read story</span>
        </h1>
        <p>{{Name}} • {{Location}}</p>
      </div>
      {{/Sheet1}}
    </div>
    <div class="blm-article articles">
      {{#Sheet1}}
      <img src="{{Image}}" />
      <h1 data-click="1">{{Name}}</h1>
      <h2>{{Age }} • {{Location}}</h2>
      <p class="mobile-quote for-mobile">{{Quote}}</p>
      <p>{{Copy}}</p>
      {{/Sheet1}}
    </div>
  </div>
</div>
